 body {
  background-color: #16161d;
}


h1 {
  color: white;
  font-family: 'Fira Mono', monospace;
  text-align: left;
}

h2 {
  color: white;
  font-family: 'Fira Mono', monospace;
  text-align: left;
}


h2 {
  color: white;
  font-family: 'Fira Mono', monospace;
  text-align: left;
}


p {
  color: white;
  font-family: 'Fira Mono', monospace;
  font-size: 20px;
}


a {
  color: white;
  font-family: 'Fira Mono', monospace;
  font-size: 30px;
}

img {
  max-width: 100%;
  height: auto;
}

.center {
  margin: auto;
  width: 50%;
  border-bottom: 1px solid white;
  padding: 10px;
}

.example1 {
  border: 1px solid;
  padding: 5px;
  box-shadow: 3px 3px #44bce3;
}

.center_image {
  float: center;
  max-width: 100%;
  height: auto;
  border: 1px solid white;
  box-shadow: -3px -3px #44bce3;
  
}

.fa {
  padding: 5px;
  width: 55px;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px;
  font-size: 10px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
  background: transparent;
  color: white;
}

.fa-twitter {
  background: transparent;
  color: white;
}

.fa-github {
  background: transparent;
  color: white;
}

.fa-dev{
  background: transparent;
  color: white;
}

.fa-medium {
  background: transparent;
  color: white;
}
